.home-row {
  margin-bottom: 20px;
}
.home-title-x {
  text-align: center;
  line-height: 30px;
}
.card-item {
  font-size: 16px;
  .ant-card-body {
    min-height: 100px;
  }
  .anticon {
    font-size: 28px;
    margin-right: 10px;
  }
  ul {
    vertical-align: middle;
    display: inline-block;
  }
}